.intro {
    position: relative;

    &__content {
        position: absolute;
        top: 1.35em;
        left: 1.95em;

        & span {
            color: $title-color;
        }
    }

    .spin__text {
        top: initial;
        bottom: 6em;
    }
}